@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$desktop-width: 768px;

.title {
    margin: 30px auto;
    width: 100%;
    min-width: $desktop-width;
    background-image: url('../../media/title/title-background.jpg');
    background-position: 0px 0px;
    background-size: cover;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    position: relative;

    animation: animatedBackground 2s forwards ease-out;

    img {
        height: 150px;
        width: $desktop-width;
        min-width: 100%;
        margin-bottom: 20px;
    }
    &__text {
        bottom: 10px;
        right: 20px;
        position: absolute;
        height: 100%;
        max-height: fit-content;
        min-width: 375px;
        width: 40%;
        background-image: url('../../media/title/old-paper.jpg');
        background-size: 100% 100%;
        align-self: flex-end;
        padding: 5%;

        font-family: 'Gabriola', 'Roboto', sans-serif;

        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        animation: animateCard 2s forwards ease;
        &-header1 {
            font-size: 4.0rem;
        }
        p {
            font-size: 2.2rem;
            text-indent: 20px;
            margin-bottom: 1rem;
        }
        margin-bottom: 20px;

    }

}

.hidden {
    animation: animateCard 2s forwards ease;
    display: flex;
}

@keyframes animatedBackground {
    from {
        // background-position: 0 0%;
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        // background-position: 0% 20%;
        transform: scale(1);
        opacity:1;
    }
}

@keyframes animateCard {
    from {
        right: -300px;
        transform: scale(1.2);
        opacity: 0;
    }
    to {
        right: 30px;
        transform: scale(1);
        opacity:1;
    }
}
