.gifts {
    margin: 20px 0;
    width: 100%;
    font-size: 1.6rem;
    & > h1 {
        text-align: center;
        font-style: italic;
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 2rem;
    }
    & > div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        h1{
            width: 100%;
            text-align: center;
            border: 1px solid gray;
            background-color: #DEDEDE;
            padding: 5px;
        }
        h1:nth-child(2){
            background-color: #C5C5C5;
        }
    }

    ul li{
        width: 100%;
        border: 1px solid gray;
        padding: 5px;

    }
}
